body {
  font-family: Arial, sans-serif;
  background: linear-gradient(blue,lightblue);
  display: block;
  justify-content: center;
  margin-top: 50px;
}

form{
    border: 1px solid black;
    align-items: center;
    background: linear-gradient(yellow,lightblue);
    justify-content: center;
    width: 300px;
    margin: auto;
    padding: 20px;
}
h1{
    text-align: center; }
#btn{
    border:1px solid black;
    background-color: green;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    gap:10px;
    font-weight: bold;
}

.delete-btn{
    border: black;
    background-color: red;
    border-radius: 5px;
    margin-left:70px ;
    width: 30px;
    height: 25px;
    gap:10px;
    font-weight: bold;
}
